/* stats.css */

.stats-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

.stats-content {
    padding: 20px;
    flex: 1;
}

.stats-title {
    text-align: center;
    margin-bottom: 10px;
}

.stats-intro {
    text-align: justify;
    margin-bottom: 20px;
}

.availability-prompt {
    text-align: center;
    margin-bottom: 10px;
}

.stats-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.stats-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 150px;
    box-sizing: border-box;
    width: calc(50% - 5px);
}

.stats-table-container {
    overflow-x: auto;
    margin-bottom: 20px;
    width: 100%;
}

.stats-lab-availability-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.stats-lab-availability-table th,
.stats-lab-availability-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.stats-lab-availability-table th {
    background-color: #f0f0f0;
}

.full {
    background-color: #ffdddd;
}

.low {
    background-color: #ffffcc;
}

.available {
    background-color: #ddffdd;
}

.stats-apply-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.stats-apply-button:hover {
    background-color: #45a049;
}

.stats-footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    /* width: 100%; */
}


@media (max-width: 768px) {
    .stats-select {
        width: 100%;
        margin-bottom: 10px;
    }
    .stats-lab-availability-table {
        width: max-content;
        min-width: 100%;
        white-space: nowrap;
    }

    .stats-lab-availability-table th,
    .stats-lab-availability-table td {
        white-space: nowrap;
    }
}